<%= link_to publicaciones_path(category_id: category.id), class: "category-link" do %>
    <div class="category">
      <span class="category-name"><%= category.name %></span>
      <span class="category-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
  <% end %>
  
  <style>
    .category-link {
      text-decoration: none;
      color: #333; /* Cambia el color del texto según tu paleta de colores */
      transition: color 0.3s ease; /* Agrega una transición suave al cambiar el color */
    }
  
    .category-link:hover {
      color: #007bff; /* Cambia el color del texto al pasar el mouse */
    }
  
    .category {
      padding: 10px;
      border: 1px solid #ccc; /* Agrega un borde alrededor de cada categoría */
      border-radius: 5px; /* Añade esquinas redondeadas al borde */
      margin-bottom: 10px; /* Espacio entre cada categoría */
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s ease; /* Añade transición al cambiar el color de fondo */
    }
  
    .category:hover {
      background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    }
  
    .category-name {
      flex: 1;
    }
  
    .category-icon {
      margin-left: 10px;
      opacity: 0;
      transition: opacity 0.3s ease; /* Añade transición a la opacidad */
    }
  
    .category:hover .category-icon {
      opacity: 1; /* Muestra el icono al pasar el mouse */
    }
  </style>
  